body {
    font-family: Arial, sans-serif;
    background: lightgrey;
}

.container {
    width: 350px;
    margin: 50px auto;
    background: lightgreen;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #ccc;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.result {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}
table{
    border:1px solid black;
    margin-left:30%;
    
}
form{
    margin:10px;
}

th{
    padding:10px;
    background:lightgreen;
}
